<div class="map-container">
    <div class="panel-option map" hidden="hidden">
        {% for i in route_list %}
            <input type="hidden" id="route{{ forloop.counter0 }}" value="{{ i }}"/>
        {% endfor %}
        <div class="outer-center">
            <div class="inner-center">
                <div id="mapError{{ forloop.counter0 }}" class="mapError"></div>
                <div id="map-canvas" style="width: 500px; height: 400px"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        calcRoute(0);
        $(".page-changer .change-page").click(function (eventObj) {
            calcRoute(parseInt($(".pages #current").attr('data-current-page-id')) - 1);
        });
        $(".page-changer .previous-page").click(function (eventObj) {
            calcRoute(parseInt($(".pages #current").attr('data-current-page-id')) - 1);
        });
        $(".page-changer .next-page").click(function (eventObj) {
            calcRoute(parseInt($(".pages #current").attr('data-current-page-id')) - 1);
        });
    });
</script>