{% extends "jadebusem_site/base.html" %}

{% load i18n %}

{% block title %}
    {% trans "Search for connection" %}
{% endblock %}


{% block content %}
    <div>
        <div class="outer-center">
            <div class="inner-center">
                <div style="text-align: center">
                    <form action="./#page-changer" method="get">
                        <input type="hidden" name="search_request" value="1">
                        <div class="largeMargin floating">
                            <h3 class="formMargin" style="text-align: left">{% trans 'Pick company' %}</h3>
                            <table class="formTable">
                                <tr>
                                    <td colspan="2">
                                        <select class="selectButton formMarginLRB" name="company_name">
                                            <option class="selectOption" selected="selected">{% trans "All" %}</option>
                                            {% for company in companies %}
                                                <option>{{ company.company }}</option>
                                            {% endfor %}
                                        </select></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="centered"><input class="btn btn-primary" type="submit"
                                                                            value={% trans "Search" %}>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="floating largeMargin">
                            <h3 style="text-align: left">{% trans 'Pick trace points' %}</h3>
                            <table class="formTable">
                                <tr>
                                    <td colspan="2">
                                        <input class="form-control" type="text" name="from" value="{{ search_from }}"
                                               placeholder={% trans "From..." %}>
                                        <input type="hidden" id="start" value="{{ search_from }}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input class="form-control" type="text" name="to" value="{{ search_to }}"
                                               placeholder={% trans "To..." %}>
                                        <input type="hidden" id="end" value="{{ search_to }}">
                                    </td>
                                </tr>
                                <tr>

                                    <td><input class="checkboxInput" type="checkbox" name="interchange"
                                               value="Interchange"
                                               id="interchange"/>
                                    </td>
                                    <td>
                                        <label for="interchange">{% trans "Avoid interchanges" %}</label>
                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="2" class="centered"><input class="btn btn-success" type="submit"
                                                                            value={% trans "Search" %}></td>
                                </tr>

                            </table>
                        </div>
                        <div class="clearing"></div>
                    </form>
                    {% include 'jadebusem_site/errors_list.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}