{% load i18n %}

<a href="#" class="btn btn-primary btn-sm panel-option-link full-route-link">
    <span class="glyphicon glyphicon-road" style="margin-right: 10px"></span>
    {% trans 'Full trace' %}
</a>
<a href="#" class="btn btn-primary btn-sm panel-option-link map-link">
    <span class="glyphicon glyphicon-globe" style="margin-right: 10px"></span>
    {% trans 'Map' %}
</a>
<a href="#" class="btn btn-primary btn-sm panel-option-link details-link">
    <span class="glyphicon glyphicon-stats" style="margin-right: 10px"></span>
    {% trans 'Route details' %}
</a>