{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    {% include "jadebusem_site/head.html" %}
    {% block additional_head %} {% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/styles/basic.css"/>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    <header>
        <div class="largeMargin floating">
            <a href="/">
                <img src="/static/images/logo100dpi.png" alt="Logo JadeBusem">
            </a>
        </div>

        <div class="floatingRight largeMarginRB">
            <section id="user_panel">
                {% include "jadebusem_site/user_panel.html" %}
            </section>
        </div>
        <div class="clearing"></div>
    </header>

    <div class="largeMarginLRB">
    <nav class="floating">
        {% include "jadebusem_site/nav.html" %}
    </nav>

    <div class="floating largeSpacer"> &nbsp;</div>
    <section class="floating largeMarginLRB" id="content">
        {% block content %}
        {% endblock %}
        <div id="map-canvas" style="width: 800px; height: 600px"></div>
    </section>

    <div class="clearing"></div>
    </div>

    <footer>
        <div class="floating largeMarginLRB"><p>{% trans 'Footer' %}</p>
        </div>
        <div class="floatingRight largeMarginRB">
        </div>
    </footer>

</body>
</html>