{% load i18n %}
<ul>
    {% if login %}
        {% trans 'Welcome' %}
        {% if user.name != "" %}
            {{ user.name }}
        {% else %}
            {{ user.email }}
        {% endif %}
        <li><a href="/users/user_settings/{{ user.user_id }}" >{% trans 'Account settings' %}</a></li>
        <li><a href="/users/log_out/" >{% trans 'Sign out' %}</a></li>
    {% else %}
        <li><a href={% url "Users.views.sign_in" %}>{% trans 'Sign in' %}</a></li>
        <li><a href={% url "Users.views.register" %}>{% trans 'Register' %}</a></li>
    {% endif %}
</ul>