{% extends "jadebusem_site/base.html" %}

{% load i18n %}

{% block additional_head %}
    {% load staticfiles %}
    <script src="{% static 'scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'scripts/add.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/basic.css' %}"/>
{% endblock %}

{% block title %}
    {% trans "Add schedule" %}
{% endblock %}

{% block content %}
    <h3>{{ mainheader }}</h3>

    <form method="post" enctype="multipart/form-data">


        <input class="textInput" type="text"
               name="companyName"
               placeholder={% trans "Name of the carrier" %}
                       value="{{ schedule.company }}"/>
        <br/>


        {% if form1.show %}
            <article>
                {% if form1.header %}<h2>{{ form1.header }}</h2>{% endif %}
                <div class="largeMarginRB submitInput centered floating" style="height: 28px !important; overflow: hidden !important;">
                    <input class="fileInput" id="imageUpload" type="file" name="imageUpload" accept="image/*">
                    <span class="fileInputText">{% trans 'Pick a photo' %}</span>
                </div>
                <div class="floating">
                    <input class="submitInput" id="imageSubmit" type="submit" name="imageSubmit"
                           value={% trans "Send picture" %}>
                </div>
            <div class="clearing"></div>
                <progress id="imageUploadStatus" value="50" max="100"></progress>
            </article>
            <br/><br/>
        {% endif %}


        {% if form2.show %}
            <article>
                <div class="floating">
                    {% if form2.header %}<h2>{{ form2.header }}</h2>{% endif %}

                    <br/>

                    <div id="tracePoints">
                        {% for tracePoint in schedule.trace_points %}

                            <input class="textInput" name="tracePoint" class="hiddenTracePoint" type="text"
                                   value="{{ tracePoint }}"
                                   hidden="hidden"/>
                            <span class="viewableTracePoint">{{ tracePoint }}</span>
                            {% if not forloop.last %}
                                <span> - </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="tracePointsControl">
                        <input class="formMargin textInput" type="text"
                               id="tracePointInput"
                               name="tracePoint"
                               placeholder={% trans "Add tracepoint" %}/>
                        <input class="formMarginRB submitInput scheduleHourNavigator" id="addTracePoint"
                               type="button"
                               value="+"/>
                    </div>

                    <br/>

                    <div>
                        {% load filters %}
                        {% for day in schedule.days %}
                            <div class="floating centered" style="width: 100px">
                                {{ forloop.counter0|days_of_week }}
                            </div>
                        {% endfor %}
                        <div class="clearing"></div>
                    </div>
                    <div class="days">
                        {% for day in schedule.days %}
                            <div class="day floating centered" id="{{ forloop.counter0 }}" style="width: 100px">
                                {% for hour in day %}
                                    <div class="hour">
                                        <input class="smallMarginTR textInput scheduleHour" type="text"
                                               id="hourInput"
                                               name="hour[{{ forloop.parentloop.counter0 }}]"
                                               placeholder="8:00"
                                               value="{{ hour }}"/>

                                        <input class="smallMarginTR submitInput  scheduleHourNavigator" id="add"
                                               type="button"
                                               value="+"
                                                {% ifnotequal hour '' %}  hidden="hidden" {% endifnotequal %} />

                                        <input class="smallMarginTR submitInput scheduleHourNavigator" id="remove"
                                               type="button"
                                               value="-"
                                                {% ifequal hour '' %}  hidden="hidden" {% endifequal %} />
                                        <br/>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div class="clearing"></div>
                        <div class="centered">
                            <input class="formMargin submitInput" id="imageSubmit"
                                   type="submit"
                                   name="imageSubmit"
                                   value={% trans "Send schedule" %}>
                        </div>
                    </div>


                    <br/>
                </div>
            </article>
        {% endif %}
    </form>
{% endblock %}