<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jadebusem.JadeBusemApp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScheduleDetailsActivity"
            android:label="@string/details"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AddScheduleActivity"
            android:label="@string/new_schedule"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AddScheduleDatesActivity"
            android:label="@string/add_schedule_dates"
            android:parentActivityName=".AddScheduleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddScheduleActivity" />
        </activity>
        <activity
            android:name=".ModifyScheduleActivity"
            android:label="@string/modify_schedule"
            android:parentActivityName=".ScheduleDetailsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScheduleDetailsActivity" />
        </activity>
        <activity
            android:name=".ModifyScheduleDatesActivity"
            android:label="@string/modify_schedule"
            android:parentActivityName=".ModifyScheduleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ModifyScheduleActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/search_schedules"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>