{% load staticfiles %}
<meta name="author" content="Michał Semik, Alan Hawrot, Mateusz Bobiński">
<meta name="description" content="Jadę Busem portal, wyszukiwarka międzymiastowych połączeń komunikacyjnych">
<meta name="keywords" content="Jadę Busem, jadebusem, travel, podróż, bus, minibus, miasta, połączenia">
<meta http-equiv="googlebot" content="noarchive">
<link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}"/>

<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>