{% load i18n %}
<ul class="breadcrumbu" class="ul-nav-main-menu" style="list-style: none;">
    <li class="li-nav-main-menu">
        <a href="{% url "SearchEngine.views.search" %}">
            <span class="glyphicon glyphicon-search"></span>
            {% trans 'Search for connection' %}
        </a>
    </li>
    {% if login %}
        <li class="li-nav-main-menu">
            <a href={% url "schedules.views.show_list" %}>
                <span class="glyphicon glyphicon-list-alt"></span>
                {% trans 'My schedules' %}
            </a>
        </li>

        <li class="li-nav-main-menu">
            <a href={% url "schedules.views.add" %}>
                <span class="glyphicon glyphicon-pencil"></span>
                {% trans 'Add schedule' %}
            </a>
        </li>
    {% endif %}
    <li class="li-nav-main-menu">
        <a href={% url "jadebusem_site.views.about" %}>
            <span class="glyphicon glyphicon-earphone"></span>
            {% trans 'About page' %}
        </a>
    </li>
    <li class="li-nav-main-menu">
        <a href={% url "jadebusem_site.views.language" %}>
            <span class="glyphicon glyphicon-flag"></span>
            {% trans 'Change language' %}
        </a>
    </li>
</ul>