{% load i18n %}
<div style="margin-top: 25px;">

    {% include "jadebusem_site/language_radio.html" %}
    {% if login %}
        <div class="floating btn-group-vertical">
            <div class="input-group">
                <div class="input-group-btn">
                    <a class="btn btn-success btn-sm" href="{% url "Users.views.user_settings" user.user_id %}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        {{ user.name }}
                        <span class="caret" style="margin-left: 10px"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url "Users.views.user_settings" user.user_id %}">Settings</a></li>
                        <li><a href="{% url "Users.views.log_out" %}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
        <div class="input-group">

            <div class="input-group-addon btn-sm">
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="input-group-btn">
                <a class="btn btn-success btn-sm" href="{% url "Users.views.sign_in" %}">
                    {% trans 'Sign in' %}
                </a></div>
            <div class="input-group-btn">
                <a class="btn btn-primary btn-sm" href="{% url "Users.views.register" %}">
                    {% trans 'Register' %}
                </a>
            </div>
        </div>
    {% endif %}
</div>