.floating {
    float: left;
}

.clearing {
    clear: both;
}

.centered {
    text-align: center;
}

.floatingRight {
    float: right;
}

.largeMargin {
    margin: 30px;
}

.margin {
    margin: 15px;
}

.smallMargin {
    margin: 10px;
}

.smallMarginRB {
    margin: 0px 10px 10px 0px;
}

.smallMarginLRB {
    margin: 0px 10px 10px 10px;
}

.smallMarginTR {
    margin: 10px 10px 0px 0px;
}

.smallMarginLTR {
    margin: 10px 10px 0px 10px;
}

.largeMarginRB {
    margin: 0px 30px 30px 0px;
}

.largeMarginLRB {
    margin: 0px 30px 30px 30px;
}

.formMargin {
    margin: 20px 20px 20px 20px;
}

.formMarginLRB {
    margin: 0px 20px 20px 20px;
}

table {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

tr {
    border: 0px;
    margin: 0px;
    padding: 0px;

}

td {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.formTable td {
    padding-bottom: 20px;
    padding-right: 20px;
}

.largeSpacer {
    width: 30px;
}

header {
    background-image: url("/static/images/top_line.png");
    background-repeat: repeat-x;
    background-position: 0px bottom;
    width: 100%;
    height: 120px;
}

footer {
    background-image: url("/static/images/bottom_line.png");
    background-repeat: repeat-x;
    background-position: 0px top;
    width: 100%;
    height: 120px;
    padding-top: 30px;
}

ul {
    list-style-type: none;

}

body {
    font-family: Calibri, Consolas, "Courier New";
    font-size: 14px;
    color: #262423;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#logo {

}

#loginNav {

}

#mid-container {
    display: table;
    width: 100%;
}

#main-menu {
    overflow: hidden;
    display: table-cell;
}

#content {
    overflow: hidden;
    display: table-cell;
    padding-right: 30px;
}

.outer-center {
    float: right;
    right: 50%;
    position: relative;
}
.inner-center {
    float: right;
    right: -50%;
    position: relative;
}
a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #443f3c;
}

nav {
    font-size: 18px;
    width: 250px;
}

li {
    background-image: url("/static/images/li1.png");
    background-repeat: no-repeat;
    background-position: 1px center;
    padding: 1px;
    padding-left: 20px;
}

li li {
    background-image: url("/static/images/li2.png");
}

<<<<<<< HEAD
<<<<<<< HEAD
input {
    border: 1px solid goldenrod;
=======
=======
>>>>>>> 69ad516cba9bb228258fe01fca684e7850bc9909
input :{
    border: 1px solid #efefef;
>>>>>>> 69ad516cba9bb228258fe01fca684e7850bc9909

}

select {
    border: 1px solid #efefef;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    width: 200px;
    height: 24px;
    background: url("/static/images/arrow.png") no-repeat;
    background-position: 182px 5px;
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: ""; /*Removes default arrow from firefox*/
}

.submitInput {
    width: 100px;
    height: 30px;
    background: #f7f6f6;
    border: 1px solid #efefef;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    cursor: hand;
}

.submitInput:hover {
    background: #eeeeee;
}

.textInput {
    height: 24px;
    width: 200px;
}

.checkboxInput {
    width: auto !important;
}

.radioInput {

}
img {
    border: 0px;
}
.fileInput {
    border: 0px !important;
    display: block !important;
    width: 100px !important;
    height: 30px !important;
    opacity: 0 !important;
    cursor: pointer;
    cursor: hand;
}

.fileInputText {
    position: relative;
    top: -32px;
    color: #000000;
    line-height: 30px;
    vertical-align: middle;
    pointer-events: none;
}

.selectOption {

}

.scheduleHourNavigator {
    width: 24px;
    height: 24px;
}

.scheduleHour {
    width: 50px;
}

hr {
    border-top: 1px dotted #efefef;
    background: #ffffff;
}

.centeredBlock {
    display: inline-block;
<!-- ? ? ? -->
}

table tr td a {
    display: block;
    height: 100%;
    width: 100%;
    border: 0px;

}

table tr td a:hover {
    color: #443f3c;
}

.scheduleTable td {
    margin: 0px;
    border: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.tracePoint:hover a {
    background: #f7f6f6;
    color: #443f3c;
}
