{% extends "jadebusem_site/base.html" %}

{% load i18n %}

{% block title %}
    {% trans 'Schedules list' %}
{% endblock title %}

{% block content %}
    <h3>
        {% trans "My schedules list" %}
    </h3>
    {% for schedule in schedules %}
        <div class="input-group" style="margin: 20px 0px 0px 0px;">

                <div class="input-group-addon">
                    {% if not schedule.verified %}
                        <span class="glyphicon glyphicon-tag" alt="Pending verification"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-ok" alt="Schedule is verified."></span>
                    {% endif %}
                </div>
                <div class="input-group-addon" style="width: auto !important;text-align: left;">{{ schedule.company }}
                </div>

            <div class="input-group-btn">
                <a class="btn btn-default" href="{% url 'schedules.views.modify' schedule.id %}">
                    <span class="glyphicon glyphicon-edit" style="margin-right: 7px;"></span>
                    Edit
                </a>
            </div>
            <div class="input-group-btn">
                <a class="btn btn-default" href="{% url 'schedules.views.delete' schedule.id %}">
                    <span class="glyphicon glyphicon-remove" style="margin-right: 7px;"></span>
                    Delete
                </a>
            </div>
        </div>
    {% empty %}
        {% trans "No schedules found by" %} {{ user.name }}
    {% endfor %}
{% endblock content %}