{% extends "jadebusem_site/base.html" %}

{% load i18n %}

{% block additional_head %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'scripts/menu.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/menu.css' %}"/>
{% endblock %}

{% block title %}
    {% trans "Search for connection" %}
{% endblock %}

{% block content %}
    <form action="." method="post">
        <div class="largeMargin floating">
            <h3 class="formMargin">Pick company</h3>
            <select class="selectButton formMarginLRB" name="company_name">
                <option class="selectOption" selected="selected">{% trans "All" %}</option>
                {% for company in companies %}
                    <option>{{ company.company }}</option>
                {% endfor %}
            </select>

            <div class="formMarginLRB"><input class="submitInput" type="submit" value={% trans "Search" %}>
            </div>
        </div>
        <div class="floating largeMargin">
            <h3 class="formMargin">Pick trace points</h3>

            <div class="formMarginLRB">
                <input class="textInput" type="text" name="from" value="{{ search_from }}"
                       placeholder={% trans "From..." %} required>
            </div>
            <div class="formMarginLRB"><input class="textInput" type="text" name="to" value="{{ search_to }}"
                                              placeholder={% trans "To..." %} required>
            </div>
            <div class="formMarginLRB"><input class="checkboxInput" type="checkbox" name="interchange"
                                              value="Interchange"
                                              id="interchange"/>
                <label for="interchange">{% trans "Avoid interchanges" %}</label>
            </div>
            <div class="formMarginLRB"><input class="submitInput" type="submit" value={% trans "Search" %}>
            </div>
        </div>
    </form>

    {% if error != "" %}
        <p>{% trans error %}</p>
    {% endif %}
    <dl id="menu">
        {% for i in temp %}
            {{ i.address }}
        {% endfor %}
        {{ temp }}
        {% for i in schedule %}
            {{ i }}
        {% endfor %}
        {% for i in list_of_tabs %}
            {% for id, company, author, trace, schedule in i %}

                <dt>
                <table>

                    {% if company != "" %}
                        <tr>
                            <h1>{% trans "Company:" %} {{ company }}</h1>
                        </tr>
                    {% endif %}

                    <tr>
                        <h3>{% trans "Tracepoints:" %} {{ trace }}</h3>
                    </tr>

                </table>
                </dt>

                <dd>
                    <table>
                        {% blocktrans %}
                            <tr>
                                <td>Hours</td>
                                <td>Monday</td>
                                <td>Tuesday</td>
                                <td>Wednesday</td>
                                <td>Thursday</td>
                                <td>Friday</td>
                                <td>Saturday</td>
                                <td>Sunday</td>
                            </tr> {% endblocktrans %}
                        {% for hours in schedule %}
                            <tr>
                                {% for hour in hours %}
                                    {% if hour == None %}
                                        <td>-</td>
                                    {% else %}
                                        <td>{{ hour }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                    {% trans "Author:" %} {{ author }}
                </dd>
            {% endfor %}
            </br>
        {% endfor %}
    </dl>

    <!-- Create new dropdown menu -->
    <script type="text/javascript">
        new Menu('menu');
    </script>
{% endblock %}