{% extends "jadebusem_site/base.html" %}

{% load i18n %}

{% block additional_head %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'scripts/menu.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/menu.css' %}"/>
{% endblock %}

{% block title %}
    {% trans "Search for connection" %}
{% endblock %}

{% block content %}
    <form action="." method="post">
        <select name="company_name">
                <option selected="selected">{% trans "All" %}</option>
            {% for company in companies %}
                <option>{{ company.company }}</option>
            {% endfor %}
        </select>

        <input type="text" name="from" value="{{ search_from }}" placeholder={% trans "From..." %}>
        <input type="text" name="to" value="{{ search_to }}" placeholder={% trans "To..." %}>
        <input type="submit" value={% trans "Search" %}>
    </form>

    <p>{{ from_to_error }}</p>

    <dl id="menu">
        {% for id, company, author, trace, schedule in list_of_tabs %}

            <dt>
                <table>

                    {% if company != "" %}
                        <tr>
                            <h1>{% trans "Company:" %} {{ company }}</h1>
                        </tr>
                    {% endif %}

                    <tr>
                        <h3>{% trans "Tracepoints:" %} {{ trace }}</h3>
                    </tr>

                </table>
            </dt>

            <dd>
                <table>
                    {% blocktrans %} <tr><td>Hours</td><td>Monday</td><td>Tuesday</td><td>Wednesday</td><td>Thursday</td><td>Friday</td><td>Saturday</td><td>Sunday</td></tr> {% endblocktrans %}
                    {% for hours in schedule  %}
                        <tr>
                        {% for hour in hours %}
                            {% if hour == None %}
                                <td>-</td>
                            {% else %}
                                <td>{{ hour }}</td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                {% trans "Author:" %} {{ author }}
            </dd>
        {% endfor %}
    </dl>

    <!-- Create new dropdown menu -->
    <script type="text/javascript">
        new Menu('menu');
    </script>
{% endblock %}